* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

h1 {
    text-align: center;
}

.grid-box {
    width: 80%;
    max-width: 960px;
    min-height: 720px;
    border: 2px solid black;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}

.square {
    border: 1px solid gray;
    height: 50px;
    flex: 1 1 6.25%;
}